<section class="w-full h-screen flex justify-center items-center">
    <div class="rounded-lg bg-[#1f1f1f] w-[310px] md:w-[350px] flex flex-col justify-center items-center py-6 px-6">
        <img src="../../../assets/avatar-jessica.jpeg" alt="Jessica" class="rounded-full w-20">
        <h1 class="text-white text-2xl text-center pt-4 font-semibold">Jessica Randall</h1>
        <p class="text-[#c5f82a] font-semibold pt-2">London, United Kingdom</p>
        <p class="text-white pt-6">"Front-end developer and avid reader."</p>
        <div class="pt-5 w-full">
            <button class="bg-[#333333] text-white font-semibold w-full py-3 mb-4 rounded-md hover:bg-[#c5f82a] hover:text-[#1f1f1f]">Github</button>
            <button class="bg-[#333333] text-white font-semibold w-full py-3 mb-4 rounded-md hover:bg-[#c5f82a] hover:text-[#1f1f1f]">Frontend Mentor</button>
            <button class="bg-[#333333] text-white font-semibold w-full py-3 mb-4 rounded-md hover:bg-[#c5f82a] hover:text-[#1f1f1f]">LinkedIn</button>
            <button class="bg-[#333333] text-white font-semibold w-full py-3 mb-4 rounded-md hover:bg-[#c5f82a] hover:text-[#1f1f1f]">Twitter</button>
            <button class="bg-[#333333] text-white font-semibold w-full py-3 rounded-md hover:bg-[#c5f82a] hover:text-[#1f1f1f]">Instagram</button>
        </div>
    </div>
</section>